.head-section {
  width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head-section h2 {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
  width: fit-content;
  box-shadow: 0px 0px 5px white;
  padding: 10px;
  transition: 0.3s;
  background: #435b9f;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 6px;
  }
  .head-section h2:hover {
    box-shadow: none;
    background-color: #5877cf;
    color: #010101;
  }
  .head-section p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 5px #fdfdfd;
    max-width: 500px;
  }