.section-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.section-content .card {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184 237 255);
    padding: 10px 20px 20px;
    border-radius: 12px;
    flex-direction: column;
    box-shadow: 0 0 10px white;
    text-align: center;
    color: #000000;
    max-width: 400px;
    line-height: 1.8;
}
.card .cart-text {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.card .cart-text h3 {
  font-size: 25px;
}
.card .cart-text p {
  color: #fff7;
}
.card img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .section-content .card {
    width: 100%;
  }
}
