.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-direction: row-reverse;
}
.pagination .page {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    background: #cccccc;
    cursor: pointer;
    transition: 0.3s;
}
.pagination .active {
    background-color: #000000;
    color: white;
}
.pagination button {
    background: transparent;
    border: none;
    height: 50px;
}
.pagination button i {
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}